<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <h3 class="navbar-brand" >Онлайн магазин</h3>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Выпадающий список
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Действие</a></li>
              <li><a class="dropdown-item" href="#">Другое действие</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit">Войти</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div layout:fragment="content">

</div>
<script rel="stylesheet" type="application/javascript" th:src="@{'/js/bootstrap.js'}"></script>
</body>
</html>

