<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPage}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div layout:fragment="content" class="row w-50 mx-auto">
  <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
<h3 class="w-50 mx-auto"> Вход выполнен. </h3>
</div>
<script rel="stylesheet" type="application/javascript" th:src="@{'/js/bootstrap.js'}"></script>
</html>
